---
layout: "1_base.njk"
---
{# Header Main Footer #}
<header class="text-center bg-slate-300 w-full">
    Header
</header>
<main class="text-center grow bg-slate-400 w-full">
    <h1>Main</h1>
    {{ content | safe}}
</main>
<footer class="text-center bg-slate-500 w-full">
    Footer
</footer>
